body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: lightskyblue;
    padding: 20px;
    text-align: center;
    border-radius: 0 0 10px 10px;
}

h1 {
    text-align: center;
    width: fit-content;
    height: auto;
    padding: 5px;
    margin: 10px auto;
    border: none;
    border-radius: 10px;
    background-color: lightskyblue;
}

nav {
    background-color: #007acc;
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

main {
    padding: 20px;
}

section {
    background-color: white;
    padding: 15px;
    margin: 10px 0;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: #007acc;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
    border-radius: 10px 10px 0 0;
}

.navbar nav ul li a.active {
    font-weight: bold;
    color: #007bff; /* Highlight color */
}
table {
    border-collapse: collapse;
    width: 100%;
}

table td,
table th {
    border: 1px solid #ddd;
    padding: 0.5em;
}

table tr:nth-child(2n) {
    background-color: #f2f2f2;
}

table tr:hover {
    background-color: #ddd;
}

table th {
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: left;
    background-color: dodgerblue;
    color: white;
}

form {
    display: grid;
    grid-template-columns: [labels] auto [controls] 100px [txt] 120px [rest]1fr;
      grid-auto-flow: row;
      grid-gap: .8em;
}
