.year-data-content {
    display: none; /* Initially hide all year-specific content */
}
.year-data-content.active {
    display: block; /* Show active year's content */
}
/* You might also want a basic style for contenteditable cells if not already covered */
td[contenteditable="true"] {
    background-color: #ffffdd; /* A light yellow to indicate editable */
}
td[contenteditable="true"]:focus {
    outline: 2px solid #007acc;
    background-color: #fff;
}
.revenue-table {
    width: auto;
    height: auto;
}

.expense-table {
    width: auto;
    height: auto;
}
.btnInsertYear {
    margin-top: 20px;
    margin-bottom: 20px;
}

.btnInsertCategory {
    margin-top: 20px;
    margin-bottom: 20px;
}